@use "../abstracts" as *;

//  Base Styles for Links (for both themes)
%link-style {
  color: inherit;
  transition: color $transition-duration ease;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

%btn-primary {
  font-size: $btn-font-size-sm;
  padding: $btn-padding-sm;
  border-radius: $btn-border-radius-sm;
  cursor: pointer;
  border: none;
  transition: background-color $transition-duration ease;
}

//  DARK THEME
.dark-theme {
  nav {
    ul {
      li {
        a {
          @extend %link-style;
          color: map-get($dark-theme, a-text-color);

          &:hover {
            color: map-get($dark-theme, a-hover-color);
          }
        }
        button {
          @extend %btn-primary;
          background-color: map-get($dark-theme, btn-bg-color);
          color: map-get($dark-theme, btn-text-color);

          &:hover {
            background-color: map-get($dark-theme, btn-hover-bg-color);
          }
        }
      }
    }
  }
}

//  LIGHT THEME (Using Dark Theme Styles as Base)
.light-theme {
  nav {
    ul {
      li {
        a {
          @extend %link-style;
          color: map-get($light-theme, a-text-color);

          &:hover {
            color: map-get($light-theme, a-hover-color);
          }
        }
        button {
          @extend %btn-primary;
          background-color: map-get($light-theme, btn-bg-color);
          color: map-get($light-theme, btn-text-color);

          &:hover {
            background-color: map-get($light-theme, btn-hover-bg-color);
          }
        }
      }
    }
  }
}


nav {
  @include flex-center;

  position: relative;

  .navbar-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    cursor: pointer;

    span {
      height: 3px;
      width: 25px;
      background-color: #29554e;
      transition: all 0.3s ease;
    }

    &.open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin: 0 $margin;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  nav {
    flex-direction: column;
    align-items: flex-start;

    .navbar-toggle {
      display: flex;
      margin-bottom: 1rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.4s ease-in-out;

      &.active {
        max-height: 500px;
      }

      li {
        margin: 0.5rem 1rem;
        width: 100%;
        text-align: center;
        padding: 0.5rem 0;
      }
    }
  }
}
